domains/n8n/workflows/active/workflow-builder-gemini-v2-gdpr-compliant.json
{
  "name": "n8n Workflow Builder (Gemini) - GDPR Compliant",
  "nodes": [
    {
      "parameters": {
        "path": "workflow-builder",
        "formTitle": "n8n Workflow Builder - GDPR Compliant",
        "formDescription": "AI-powered workflow generation with full GDPR compliance",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your Email",
              "fieldType": "email",
              "requiredField": true,
              "placeholder": "your@email.com"
            },
            {
              "fieldLabel": "Workflow Requirements",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Describe what you want your workflow to do..."
            },
            {
              "fieldLabel": "Data Processing Consent",
              "fieldType": "select",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {"option": "I consent to data processing (required)"}
                ]
              }
            },
            {
              "fieldLabel": "AI Processing Consent",
              "fieldType": "select",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {"option": "I consent to AI processing (required)"}
                ]
              }
            },
            {
              "fieldLabel": "International Transfer Consent",
              "fieldType": "select",
              "requiredField": true,
              "fieldOptions": {
                "values": [
                  {"option": "I consent to international data transfer (required)"}
                ]
              }
            }
          ]
        },
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "workflow-builder-gdpr"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// GDPR-COMPLIANT Data Normalizer\n// Phase 1 Fix: Removed originalInput to comply with data minimization\nconst input = items[0].json;\n\n// Initialize result object WITHOUT storing original input\nlet result = {\n  clientBrief: null,\n  clientEmail: null,\n  source: 'webhook',\n  error: false,\n  errorMessage: null,\n  timestamp: new Date().toISOString(),\n  // GDPR: Removed originalInput field - data minimization compliance\n  gdprMetadata: {\n    dataMinimizationCompliant: true,\n    processingBasis: 'consent',\n    retentionPeriod: '30 days',\n    retentionExpiryDate: new Date(Date.now() + 30 * 24 * 60 * 60 * 1000).toISOString()\n  }\n};\n\ntry {\n  // Extract form data (from GDPR consent form)\n  result.clientBrief = input.brief || input['Workflow Requirements'];\n  result.clientEmail = input.email || input['Your Email'];\n  \n  // Extract consent information\n  result.consentGiven = input.consentGiven || false;\n  result.consentTimestamp = input.consentTimestamp || null;\n  result.consentDetails = input.consentDetails || null;\n  \n  // Validation\n  if (!result.clientBrief || result.clientBrief.trim().length === 0) {\n    result.error = true;\n    result.errorMessage = 'Workflow requirements are required';\n  }\n  \n  const emailRegex = /^[^\\s@]+@[^\\s@]+\\.[^\\s@]+$/;\n  if (!result.clientEmail || !emailRegex.test(result.clientEmail)) {\n    result.error = true;\n    result.errorMessage = 'Valid email address is required';\n  }\n  \n  // GDPR: Data minimization - limit brief length\n  if (result.clientBrief) {\n    result.clientBrief = result.clientBrief\n      .replace(/\\s+/g, ' ')\n      .trim()\n      .substring(0, 5000);\n  }\n  \n} catch (e) {\n  result.error = true;\n  result.errorMessage = 'Data normalization failed: ' + e.message;\n  result.source = 'error';\n}\n\nreturn [{\n  json: result\n}];"
      },
      "id": "data-normalizer",
      "name": "Data Normalizer (GDPR)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300],
      "notes": "Phase 1: Removed originalInput field for data minimization compliance"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "consent-given",
              "leftValue": "={{$json.consentGiven}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "consent-details-exist",
              "leftValue": "={{$json.consentDetails !== null && $json.consentDetails !== undefined}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            },
            {
              "id": "all-consents-given",
              "leftValue": "={{$json.consentDetails?.processing?.given && $json.consentDetails?.aiProcessing?.given && $json.consentDetails?.internationalTransfer?.given}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combineOperation": "all"
        }
      },
      "id": "validate-consent",
      "name": "Validate GDPR Consent",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300],
      "notes": "Phase 1: Validates that all required GDPR consents were given before processing"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gdpr_audit_log (event_type, user_email, event_data, ip_address, user_agent, timestamp, consent_status) VALUES ('consent_validated', '{{$json.clientEmail}}', '{{JSON.stringify({consents: $json.consentDetails, source: $json.source})}}', '{{$json.ipAddress || \"unknown\"}}', '{{$json.userAgent || \"unknown\"}}', '{{$json.timestamp}}', 'valid');",
        "options": {}
      },
      "id": "log-consent-validation",
      "name": "Log Consent Validation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [850, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-gdpr-audit",
          "name": "PostgreSQL GDPR Audit DB"
        }
      },
      "notes": "Phase 2: Audit logging - records consent validation",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gdpr_audit_log (event_type, user_email, event_data, ip_address, user_agent, timestamp, consent_status) VALUES ('data_access', '{{$json.clientEmail}}', '{\"action\": \"workflow_generation_started\", \"data_fields\": [\"email\", \"brief\"]}', '{{$json.ipAddress || \"unknown\"}}', '{{$json.userAgent || \"unknown\"}}', '{{$json.timestamp}}', 'valid');",
        "options": {}
      },
      "id": "log-data-access",
      "name": "Log Data Access",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [850, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-gdpr-audit",
          "name": "PostgreSQL GDPR Audit DB"
        }
      },
      "notes": "Phase 2: Audit logging - records data access",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "no-error",
              "leftValue": "={{$json.error}}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combineOperation": "all"
        }
      },
      "id": "validate-input",
      "name": "Validate Input",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gdpr_audit_log (event_type, user_email, event_data, ip_address, user_agent, timestamp, consent_status) VALUES ('international_transfer_initiated', '{{$json.clientEmail}}', '{\"destination\": \"Google Gemini AI (United States)\", \"legal_basis\": \"Standard Contractual Clauses (EU Commission Approved)\", \"data_transferred\": [\"workflow_brief\"]}', '{{$json.ipAddress || \"unknown\"}}', '{{$json.userAgent || \"unknown\"}}', '{{$json.timestamp}}', 'valid');",
        "options": {}
      },
      "id": "log-international-transfer",
      "name": "Log International Transfer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1250, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-gdpr-audit",
          "name": "PostgreSQL GDPR Audit DB"
        }
      },
      "notes": "Phase 2: Documents international data transfer to Google Gemini (USA) under SCC",
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{`https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent?key=${$env.GEMINI_API_KEY}`}}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-GDPR-Transfer-Basis",
              "value": "Standard Contractual Clauses"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{JSON.stringify({contents:[{parts:[{text:'Extract key requirements from this client brief. Output a clear list of: 1) Primary goal 2) Data sources 3) Processing steps 4) Output destinations 5) Error handling needs 6) Constraints.\\n\\nClient Brief: ' + $json.clientBrief}]}]})}}"
      },
      "id": "brief-parser",
      "name": "Brief Parser (Gemini - USA Transfer)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1450, 300],
      "continueOnFail": true,
      "notes": "International transfer to Google Gemini (USA) under Standard Contractual Clauses"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{`https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent?key=${$env.GEMINI_API_KEY}`}}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-GDPR-Transfer-Basis",
              "value": "Standard Contractual Clauses"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{JSON.stringify({contents:[{parts:[{text:'You are an n8n workflow architect. Design a node-by-node workflow structure for this brief. Output JSON with: project_summary, nodes_required (with name, type, position), connection_paths, data_schema.\\n\\nBrief: ' + $json.clientBrief + '\\n\\nRequirements: ' + JSON.stringify($json.candidates?.[0]?.content?.parts?.[0]?.text)}]}]})}}"
      },
      "id": "architect-agent",
      "name": "Architect Agent (Gemini - USA Transfer)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 300],
      "continueOnFail": true,
      "notes": "International transfer to Google Gemini (USA) under Standard Contractual Clauses"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const architectOutput = items[0].json;\nconst normalizerData = $('Data Normalizer (GDPR)').first().json;\n\nif(architectOutput.error){\n  return[{\n    json:{\n      error:true,\n      message:'Architect failed: ' + (architectOutput.error.message || 'Unknown'),\n      stage:'architect',\n      clientEmail:normalizerData.clientEmail,\n      source:normalizerData.source\n    }\n  }];\n}\n\nlet architectSpec;\ntry{\n  const geminiResponse=architectOutput.candidates?.[0]?.content?.parts?.[0]?.text;\n  if(!geminiResponse)throw new Error('No response');\n  architectSpec=typeof geminiResponse==='string'?JSON.parse(geminiResponse):geminiResponse;\n}catch(e){\n  return[{\n    json:{\n      error:true,\n      message:'Failed to parse architect output: '+e.message,\n      stage:'architect-parse',\n      clientEmail:normalizerData.clientEmail,\n      source:normalizerData.source\n    }\n  }];\n}\n\nconst lessonsLearned='Critical patterns: 1)contentType: raw for expressions 2)Code returns [{json:{}}] 3)Gmail OAuth2 4)continueOnFail:true 5)Position coordinates 6)Unique IDs';\n\nreturn[{\n  json:{\n    architectSpec:architectSpec,\n    lessonsLearned:lessonsLearned,\n    clientBrief:normalizerData.clientBrief,\n    clientEmail:normalizerData.clientEmail,\n    source:normalizerData.source,\n    timestamp:new Date().toISOString(),\n    gdprMetadata:normalizerData.gdprMetadata\n  }\n}];"
      },
      "id": "prepare-context",
      "name": "Prepare Synthesis Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1950, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{`https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent?key=${$env.GEMINI_API_KEY}`}}",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-GDPR-Transfer-Basis",
              "value": "Standard Contractual Clauses"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{JSON.stringify({contents:[{parts:[{text:'Convert to production n8n workflow JSON. Apply: contentType:raw for HTTP, Code returns [{json:{}}], Gmail OAuth2, continueOnFail:true, proper positions and IDs.\\n\\nSpec: ' + JSON.stringify($json.architectSpec,null,2)}]}]})}}"
      },
      "id": "synthesis-agent",
      "name": "Synthesis Agent (Gemini - USA Transfer)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, 300],
      "continueOnFail": true,
      "notes": "International transfer to Google Gemini (USA) under Standard Contractual Clauses"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const synthesisOutput=items[0].json;\nconst contextData=$('Prepare Synthesis Context').first().json;\n\nif(synthesisOutput.error){\n  return[{\n    json:{\n      error:true,\n      message:'Synthesis failed',\n      stage:'synthesis',\n      clientEmail:contextData.clientEmail,\n      source:contextData.source\n    }\n  }];\n}\n\nlet workflowJson;\ntry{\n  const geminiResponse=synthesisOutput.candidates?.[0]?.content?.parts?.[0]?.text;\n  if(!geminiResponse)throw new Error('No response');\n  let jsonText=geminiResponse;\n  if(jsonText.includes('```json'))jsonText=jsonText.split('```json')[1].split('```')[0].trim();\n  else if(jsonText.includes('```'))jsonText=jsonText.split('```')[1].split('```')[0].trim();\n  workflowJson=JSON.parse(jsonText);\n  if(!workflowJson.nodes||!workflowJson.connections)throw new Error('Invalid structure');\n}catch(e){\n  return[{\n    json:{\n      error:true,\n      message:'Failed to parse synthesis: '+e.message,\n      stage:'synthesis-parse',\n      clientEmail:contextData.clientEmail,\n      source:contextData.source\n    }\n  }];\n}\n\nconst workflowSummary='<h3>Generated Workflow</h3><p><strong>Name:</strong> '+(workflowJson.name||'Custom')+'</p><p><strong>Nodes:</strong> '+(workflowJson.nodes?.length||0)+'</p><p><strong>Source:</strong> '+contextData.source+'</p>';\n\nreturn[{\n  json:{\n    success:true,\n    clientEmail:contextData.clientEmail,\n    clientBrief:contextData.clientBrief,\n    source:contextData.source,\n    workflowJson:workflowJson,\n    workflowSummary:workflowSummary,\n    timestamp:contextData.timestamp,\n    qaValidationPending:true,\n    gdprMetadata:contextData.gdprMetadata\n  }\n}];"
      },
      "id": "format-output",
      "name": "Format Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gdpr_audit_log (event_type, user_email, event_data, ip_address, user_agent, timestamp, consent_status) VALUES ('workflow_generated', '{{$json.clientEmail}}', '{\"workflow_name\": \"{{$json.workflowJson?.name}}\", \"nodes_count\": {{$json.workflowJson?.nodes?.length || 0}}}', '{{$json.ipAddress || \"unknown\"}}', '{{$json.userAgent || \"unknown\"}}', '{{$json.timestamp}}', 'valid');",
        "options": {}
      },
      "id": "log-workflow-generation",
      "name": "Log Workflow Generation",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2650, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-gdpr-audit",
          "name": "PostgreSQL GDPR Audit DB"
        }
      },
      "notes": "Phase 2: Audit logging - records workflow generation completion",
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO data_retention_schedule (user_email, data_type, created_at, expires_at, retention_days, auto_delete) VALUES ('{{$json.clientEmail}}', 'workflow_generation_request', '{{$json.timestamp}}', '{{$json.gdprMetadata?.retentionExpiryDate}}', 30, true);",
        "options": {}
      },
      "id": "schedule-data-deletion",
      "name": "Schedule Data Deletion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2650, 400],
      "credentials": {
        "postgres": {
          "id": "postgres-gdpr-audit",
          "name": "PostgreSQL GDPR Audit DB"
        }
      },
      "notes": "Phase 2: Schedules automatic deletion after 30 days per retention policy",
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "id": "has-error",
              "leftValue": "={{$json.error}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combineOperation": "all"
        },
        "options": {}
      },
      "id": "check-errors",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2850, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{$json.clientEmail}}",
        "subject": "Your n8n Workflow is Ready (GDPR Compliant)",
        "messageType": "html",
        "message": "={{`<div style=\"font-family: Arial, sans-serif; max-width: 800px; margin: 0 auto; padding: 20px;\">\n  <h2 style=\"color: #333;\">Your Workflow is Ready</h2>\n  <p><strong>Brief:</strong> ${$json.clientBrief?.substring(0, 200)}...</p>\n  ${$json.workflowSummary || ''}\n  <pre style=\"background: #f5f5f5; padding: 15px; border-radius: 5px; overflow-x: auto;\">${JSON.stringify($json.finalWorkflowJson || $json.workflowJson, null, 2)}</pre>\n  <hr style=\"margin: 30px 0; border: none; border-top: 1px solid #ddd;\">\n  <h3 style=\"color: #667eea;\">GDPR Compliance Notice</h3>\n  <p style=\"font-size: 13px; color: #666;\">\n    Your data has been processed in accordance with GDPR regulations:\n  </p>\n  <ul style=\"font-size: 13px; color: #666;\">\n    <li><strong>Processing Basis:</strong> Your explicit consent</li>\n    <li><strong>Data Retention:</strong> 30 days from ${new Date().toLocaleDateString()}</li>\n    <li><strong>International Transfer:</strong> Data processed by Google Gemini AI (USA) under Standard Contractual Clauses</li>\n    <li><strong>Your Rights:</strong> You can request data deletion at any time by emailing privacy@example.com</li>\n  </ul>\n  <p style=\"font-size: 13px; color: #666;\">\n    <strong>Data will be automatically deleted on:</strong> ${new Date(Date.now() + 30 * 24 * 60 * 60 * 1000).toLocaleDateString()}\n  </p>\n  <p style=\"font-size: 13px; color: #666;\">\n    To exercise your GDPR rights (access, rectification, erasure, portability), please contact: privacy@example.com\n  </p>\n</div>`}}"
      },
      "id": "send-workflow",
      "name": "Send Workflow Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [3050, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2",
          "name": "Gmail OAuth2"
        }
      },
      "notes": "Includes GDPR compliance information in email"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gdpr_audit_log (event_type, user_email, event_data, ip_address, user_agent, timestamp, consent_status) VALUES ('data_delivered', '{{$json.clientEmail}}', '{\"delivery_method\": \"email\", \"workflow_delivered\": true}', '{{$json.ipAddress || \"unknown\"}}', '{{$json.userAgent || \"unknown\"}}', '{{$json.timestamp}}', 'valid');",
        "options": {}
      },
      "id": "log-data-delivery",
      "name": "Log Data Delivery",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3250, 200],
      "credentials": {
        "postgres": {
          "id": "postgres-gdpr-audit",
          "name": "PostgreSQL GDPR Audit DB"
        }
      },
      "notes": "Phase 2: Audit logging - records successful delivery",
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const errorData=items[0].json;\nconst normalizerData=$('Data Normalizer (GDPR)').first().json;\n\nconst errorHtml='<div style=\"font-family: Arial, sans-serif; max-width: 800px; margin: 0 auto; padding: 20px;\"><h2 style=\"color: #e53e3e;\">Workflow Generation Error</h2><p><strong>Stage:</strong> '+(errorData.stage||'unknown')+'</p><p><strong>Message:</strong> '+(errorData.message||'Unknown error')+'</p><p><strong>Source:</strong> '+(errorData.source||normalizerData.source||'unknown')+'</p><hr style=\"margin: 30px 0;\"><p style=\"font-size: 13px; color: #666;\">If this error persists, please contact support@example.com</p></div>';\n\nreturn[{\n  json:{\n    error:true,\n    clientEmail:errorData.clientEmail||normalizerData.clientEmail||'unknown@example.com',\n    subject:'Workflow Generation Failed',\n    emailHtml:errorHtml,\n    source:errorData.source||normalizerData.source,\n    timestamp:new Date().toISOString()\n  }\n}];"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2850, 500]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{$json.clientEmail}}",
        "subject": "={{$json.subject}}",
        "messageType": "html",
        "message": "={{$json.emailHtml}}"
      },
      "id": "send-error",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [3050, 500],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gdpr_audit_log (event_type, user_email, event_data, ip_address, user_agent, timestamp, consent_status) VALUES ('processing_error', '{{$json.clientEmail}}', '{\"error_stage\": \"{{$json.stage}}\", \"error_message\": \"{{$json.message}}\"}', '{{$json.ipAddress || \"unknown\"}}', '{{$json.userAgent || \"unknown\"}}', '{{$json.timestamp}}', 'error');",
        "options": {}
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [3250, 500],
      "credentials": {
        "postgres": {
          "id": "postgres-gdpr-audit",
          "name": "PostgreSQL GDPR Audit DB"
        }
      },
      "notes": "Phase 2: Audit logging - records processing errors",
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// GDPR Consent Rejection Handler\nconst data = items[0].json;\n\nreturn [{\n  json: {\n    error: true,\n    errorMessage: 'GDPR consent required. All consent checkboxes must be accepted to proceed.',\n    clientEmail: data.clientEmail || 'unknown@example.com',\n    stage: 'consent_validation',\n    consentGiven: false,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "consent-rejection-handler",
      "name": "Consent Rejection Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 600],
      "notes": "Phase 1: Handles cases where consent was not given"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO gdpr_audit_log (event_type, user_email, event_data, ip_address, user_agent, timestamp, consent_status) VALUES ('consent_rejected', '{{$json.clientEmail}}', '{\"reason\": \"User did not provide required consents\"}', '{{$json.ipAddress || \"unknown\"}}', '{{$json.userAgent || \"unknown\"}}', '{{$json.timestamp}}', 'rejected');",
        "options": {}
      },
      "id": "log-consent-rejection",
      "name": "Log Consent Rejection",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1050, 600],
      "credentials": {
        "postgres": {
          "id": "postgres-gdpr-audit",
          "name": "PostgreSQL GDPR Audit DB"
        }
      },
      "notes": "Phase 2: Logs when consent is rejected",
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Data Normalizer (GDPR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Normalizer (GDPR)": {
      "main": [
        [
          {
            "node": "Validate GDPR Consent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate GDPR Consent": {
      "main": [
        [
          {
            "node": "Log Consent Validation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Data Access",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Consent Rejection Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Consent Validation": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Data Access": {
      "main": [
        [
          {
            "node": "Validate Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Input": {
      "main": [
        [
          {
            "node": "Log International Transfer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log International Transfer": {
      "main": [
        [
          {
            "node": "Brief Parser (Gemini - USA Transfer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brief Parser (Gemini - USA Transfer)": {
      "main": [
        [
          {
            "node": "Architect Agent (Gemini - USA Transfer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Architect Agent (Gemini - USA Transfer)": {
      "main": [
        [
          {
            "node": "Prepare Synthesis Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Synthesis Context": {
      "main": [
        [
          {
            "node": "Synthesis Agent (Gemini - USA Transfer)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthesis Agent (Gemini - USA Transfer)": {
      "main": [
        [
          {
            "node": "Format Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Output": {
      "main": [
        [
          {
            "node": "Log Workflow Generation",
            "type": "main",
            "index": 0
          },
          {
            "node": "Schedule Data Deletion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Workflow Generation": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Data Deletion": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Send Workflow Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Workflow Email": {
      "main": [
        [
          {
            "node": "Log Data Delivery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Data Delivery": {
      "main": [[]]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Error Email": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [[]]
    },
    "Consent Rejection Handler": {
      "main": [
        [
          {
            "node": "Log Consent Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Consent Rejection": {
      "main": [
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "timezone": "America/New_York",
    "executionTimeout": 600,
    "maxExecutionTimeout": 3600
  },
  "id": "workflow-builder-gemini-v2-gdpr-compliant",
  "tags": [
    {
      "id": "gdpr-compliant",
      "name": "gdpr-compliant"
    },
    {
      "id": "production",
      "name": "production"
    },
    {
      "id": "ai-workflow",
      "name": "ai-workflow"
    }
  ],
  "meta": {
    "instanceId": "n8n-workflow-builder-gdpr-production",
    "gdprCompliant": true,
    "consentRequired": true,
    "dataRetentionDays": 30,
    "internationalTransfers": {
      "destinations": ["Google Gemini AI (United States)"],
      "legalBasis": "Standard Contractual Clauses (EU Commission Approved)",
      "sccVersion": "2021"
    },
    "auditLogging": true,
    "dataMinimization": true,
    "templateCredsSetupCompleted": true
  },
  "version": 4,
  "versionId": "gdpr-compliant-v4.0"
}
