n8n-workflows/farsight-simple-test.json
{
  "name": "farsight-simple-test",
  "active": false,
  "nodes": [
    {
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "id": "trigger",
      "position": [250, 300],
      "parameters": {}
    },
    {
      "name": "Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "id": "gemini",
      "position": [450, 300],
      "parameters": {
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "entries": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "entries": [
            {
              "name": "key",
              "value": "AIzaSyDCZtX1HFvgqLkKsloGs6ORB8LaHUuwUOk"
            }
          ]
        },
        "sendBody": true,
        "bodyType": "json",
        "body": "={\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"{{ $json.userInput || 'Hello Gemini, please respond' }}\"\n        }\n      ]\n    }\n  ]\n}"
      }
    },
    {
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "id": "email",
      "position": [650, 300],
      "parameters": {
        "subject": "Gemini Response",
        "toEmail": "jpmcmillan67@gmail.com",
        "message": "={{ $json.candidates[0].content.parts[0].text }}"
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Gemini API", "type": "main", "index": 0}]]
    },
    "Gemini API": {
      "main": [[{"node": "Send Email", "type": "main", "index": 0}]]
    }
  }
}
