n8n-workflows/github-workflow-sync-production.json
{
  "name": "GitHub Workflow Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-workflow-sync",
        "responseMode": "onReceived",
        "options": {
          "rawBody": true
        }
      },
      "id": "webhook-github",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "github-workflow-sync"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Extract GitHub webhook payload data\nconst payload = items[0].json.body || items[0].json;\n\nconst branch = payload.ref ? payload.ref.replace('refs/heads/', '') : 'unknown';\nconst repo = payload.repository?.full_name || 'unknown';\nconst pusher = payload.pusher?.name || 'unknown';\nconst commitCount = payload.commits?.length || 0;\nconst commitMessages = payload.commits?.slice(0, 3).map(c => c.message).join('; ') || 'No commits';\n\n// Return array format for n8n\nreturn [{\n  json: {\n    branch: branch,\n    repository: repo,\n    pusher: pusher,\n    commitCount: commitCount,\n    commitMessages: commitMessages,\n    timestamp: new Date().toISOString(),\n    originalPayload: payload\n  }\n}];"
      },
      "id": "extract-push-data",
      "name": "Extract Push Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://highlandai.app.n8n.cloud/api/v1/source-control/pull",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"force\": false\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "call-n8n-api",
      "name": "Call n8n API - Pull Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "n8n-api-token",
          "name": "n8n API Token"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "empty"
              }
            },
            {
              "id": "status-check",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 300,
              "operator": {
                "type": "number",
                "operation": "smaller",
                "singleValue": true
              }
            }
          ],
          "combineOperation": "all"
        },
        "options": {}
      },
      "id": "check-errors",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Format success notification email\nconst pushData = $('Extract Push Data').first().json;\nconst apiResponse = items[0].json;\n\nconst statusCode = apiResponse.statusCode || 200;\nconst statusMessage = apiResponse.statusMessage || 'OK';\n\nconst htmlMessage = `\n<h2 style=\"color: green;\">✓ GitHub Workflow Sync Complete</h2>\n<table style=\"font-family: Arial, sans-serif; border-collapse: collapse;\">\n  <tr>\n    <td style=\"padding: 8px; font-weight: bold;\">Repository:</td>\n    <td style=\"padding: 8px;\">${pushData.repository}</td>\n  </tr>\n  <tr style=\"background-color: #f2f2f2;\">\n    <td style=\"padding: 8px; font-weight: bold;\">Branch:</td>\n    <td style=\"padding: 8px;\">${pushData.branch}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; font-weight: bold;\">Pushed by:</td>\n    <td style=\"padding: 8px;\">${pushData.pusher}</td>\n  </tr>\n  <tr style=\"background-color: #f2f2f2;\">\n    <td style=\"padding: 8px; font-weight: bold;\">Commits:</td>\n    <td style=\"padding: 8px;\">${pushData.commitCount}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; font-weight: bold;\">Messages:</td>\n    <td style=\"padding: 8px;\">${pushData.commitMessages}</td>\n  </tr>\n</table>\n<hr style=\"margin: 20px 0;\">\n<p><strong>Sync Status:</strong> <span style=\"color: green;\">SUCCESS</span></p>\n<p><strong>API Response:</strong> ${statusCode} ${statusMessage}</p>\n<p style=\"color: #666; font-size: 12px;\"><em>Synced at: ${pushData.timestamp}</em></p>\n`;\n\n// Return array format\nreturn [{\n  json: {\n    subject: '✓ n8n Workflows Synced Successfully',\n    message: htmlMessage,\n    timestamp: pushData.timestamp\n  }\n}];"
      },
      "id": "format-success",
      "name": "Format Success Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Format error alert email\nconst pushData = $('Extract Push Data').first().json;\nconst apiResponse = items[0].json;\n\nconst errorMessage = apiResponse.error?.message || apiResponse.statusMessage || 'Unknown error occurred';\nconst statusCode = apiResponse.statusCode || 'N/A';\n\nconst htmlMessage = `\n<h2 style=\"color: red;\">✗ GitHub Workflow Sync FAILED</h2>\n<table style=\"font-family: Arial, sans-serif; border-collapse: collapse;\">\n  <tr>\n    <td style=\"padding: 8px; font-weight: bold;\">Repository:</td>\n    <td style=\"padding: 8px;\">${pushData.repository}</td>\n  </tr>\n  <tr style=\"background-color: #f2f2f2;\">\n    <td style=\"padding: 8px; font-weight: bold;\">Branch:</td>\n    <td style=\"padding: 8px;\">${pushData.branch}</td>\n  </tr>\n  <tr>\n    <td style=\"padding: 8px; font-weight: bold;\">Pushed by:</td>\n    <td style=\"padding: 8px;\">${pushData.pusher}</td>\n  </tr>\n  <tr style=\"background-color: #f2f2f2;\">\n    <td style=\"padding: 8px; font-weight: bold;\">Commits:</td>\n    <td style=\"padding: 8px;\">${pushData.commitCount}</td>\n  </tr>\n</table>\n<hr style=\"margin: 20px 0;\">\n<div style=\"background-color: #ffebee; padding: 15px; border-left: 4px solid #f44336;\">\n  <p><strong>Error Status:</strong> ${statusCode}</p>\n  <p><strong>Error Message:</strong> ${errorMessage}</p>\n</div>\n<hr style=\"margin: 20px 0;\">\n<p style=\"color: #666; font-size: 12px;\"><em>Failed at: ${pushData.timestamp}</em></p>\n<p style=\"background-color: #fff3e0; padding: 10px; border-radius: 4px;\">\n  <strong>⚠️ Action Required:</strong> Check n8n logs and verify Git integration settings.\n</p>\n`;\n\n// Return array format\nreturn [{\n  json: {\n    subject: '✗ n8n Workflow Sync Failed',\n    message: htmlMessage,\n    timestamp: pushData.timestamp\n  }\n}];"
      },
      "id": "format-error",
      "name": "Format Error Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "jpmcmillan67@gmail.com",
        "subject": "={{ $json.subject }}",
        "messageType": "html",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "send-success-email",
      "name": "Send Success Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1500, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "jpmcmillan67@gmail.com",
        "subject": "={{ $json.subject }}",
        "messageType": "html",
        "message": "={{ $json.message }}",
        "options": {}
      },
      "id": "send-error-email",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1500, 400],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2",
          "name": "Gmail OAuth2"
        }
      }
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [
        [
          {
            "node": "Extract Push Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Push Data": {
      "main": [
        [
          {
            "node": "Call n8n API - Pull Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n API - Pull Workflows": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Format Success Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Message": {
      "main": [
        [
          {
            "node": "Send Success Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Message": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "github-workflow-sync-v1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "github-workflow-sync"
  },
  "id": "github-workflow-sync",
  "tags": [
    {
      "name": "GitHub",
      "createdAt": "2025-11-04T00:00:00.000Z"
    },
    {
      "name": "Source Control",
      "createdAt": "2025-11-04T00:00:00.000Z"
    }
  ]
}