n8n-workflows/workflow-builder-gemini-v2.json
{
  "name": "Workflow Builder (Gemini) - Fixed",
  "nodes": [
    {
      "parameters": {
        "path": "workflow-builder",
        "formTitle": "n8n Workflow Builder (Gemini)",
        "formDescription": "Describe your workflow needs and receive a production-ready n8n workflow JSON",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Client Brief",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "Your Email",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "8e26e34e-e991-47a8-a35b-00a2a6df497a",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [
        -5632,
        128
      ],
      "webhookId": "13bd9235-cb83-4430-ae20-c972d767af51"
    },
    {
      "parameters": {
        "jsCode": "// Extract form data\nconst formData = items[0].json;\nconst clientBrief = formData['Client Brief'] || '';\nconst clientEmail = formData['Your Email'] || '';\n\n// Build system prompt using template literal (safe for special chars)\nconst systemPrompt = `You are a requirements analyst. Extract and structure the key requirements from this client brief. \n\nOutput a clear list of:\n1. Primary goal\n2. Data sources needed\n3. Processing steps\n4. Output destinations\n5. Error handling needs\n6. Any specific constraints\n\nClient Brief:\n${clientBrief}`;\n\n// Build Gemini request object\nconst geminiRequest = {\n  contents: [\n    {\n      parts: [\n        {\n          text: systemPrompt\n        }\n      ]\n    }\n  ]\n};\n\nreturn [{\n  json: {\n    geminiRequest: geminiRequest,\n    clientBrief: clientBrief,\n    clientEmail: clientEmail\n  }\n}];"
      },
      "id": "42571cc2-c1d2-46d8-a093-c3d5829b62db",
      "name": "Build Brief Parser Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -5408,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent?key=AIzaSyDwHRrv4WHwHDDvK0KzdfpTfm1pnMBbNPk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify($json.geminiRequest) }}",
        "options": {}
      },
      "id": "617ff5d9-8e31-4709-a759-69f9755cd432",
      "name": "Brief Parser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -5184,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get previous node outputs\nconst briefParserOutput = items[0].json;\nconst contextData = $('Build Brief Parser Request').first().json;\n\n// Extract Gemini response\nlet parsedRequirements = '';\nif (briefParserOutput.candidates && briefParserOutput.candidates[0]) {\n  parsedRequirements = briefParserOutput.candidates[0].content.parts[0].text;\n}\n\n// Build architect system prompt\nconst systemPrompt = `You are an expert n8n workflow architect with 10+ years of automation experience.\n\nGiven a project brief, you:\n1. Break down requirements into discrete tasks\n2. Design node-by-node workflow structure\n3. Define data transformations at each stage\n4. Identify error handling paths\n5. Output production-ready roadmap\n\nYour Output Format (ALWAYS JSON):\n{\n  \"project_summary\": \"what the brief is asking for\",\n  \"nodes_required\": [\n    {\n      \"name\": \"NodeName\",\n      \"type\": \"n8n-nodes-base.webhook\",\n      \"typeVersion\": 2,\n      \"position\": [250, 300],\n      \"parameters\": {}\n    }\n  ],\n  \"connection_paths\": [],\n  \"data_schema\": {}\n}\n\nConstraints:\n- Keep to 3-7 nodes for MVP\n- Focus on data flow\n- Assume n8n Cloud deployment\n\nOriginal brief:\n${contextData.clientBrief}\n\nParsed requirements:\n${parsedRequirements}`;\n\nconst geminiRequest = {\n  contents: [\n    {\n      parts: [\n        {\n          text: systemPrompt\n        }\n      ]\n    }\n  ]\n};\n\nreturn [{\n  json: {\n    geminiRequest: geminiRequest,\n    clientBrief: contextData.clientBrief,\n    clientEmail: contextData.clientEmail,\n    parsedRequirements: parsedRequirements\n  }\n}];"
      },
      "id": "314eddc1-8750-4dd8-b482-c6382d94bc93",
      "name": "Build Architect Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4960,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent?key=AIzaSyDwHRrv4WHwHDDvK0KzdfpTfm1pnMBbNPk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify($json.geminiRequest) }}",
        "options": {}
      },
      "id": "7465c7f4-0d7a-42d5-863e-629d4e863046",
      "name": "Architect Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -4736,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get architect output\nconst architectOutput = items[0].json;\nconst contextData = $('Build Architect Request').first().json;\n\n// Check for errors from Gemini API\nif (architectOutput.error) {\n  return [{\n    json: {\n      error: true,\n      message: \"Architect Agent failed: \" + (architectOutput.error.message || 'Unknown error'),\n      stage: \"architect\",\n      clientEmail: contextData.clientEmail\n    }\n  }];\n}\n\n// Extract architect specification\nlet architectSpec;\ntry {\n  const geminiResponse = architectOutput.candidates?.[0]?.content?.parts?.[0]?.text;\n  if (!geminiResponse) {\n    throw new Error('No response from Gemini');\n  }\n  \n  // Parse JSON response\n  let jsonText = geminiResponse;\n  if (jsonText.includes('```json')) {\n    jsonText = jsonText.split('```json')[1].split('```')[0].trim();\n  }\n  architectSpec = JSON.parse(jsonText);\n} catch (e) {\n  return [{\n    json: {\n      error: true,\n      message: \"Failed to parse architect output: \" + e.message,\n      stage: \"architect-parse\",\n      clientEmail: contextData.clientEmail\n    }\n  }];\n}\n\n// Key lessons from production workflows\nconst lessonsLearned = `\nCritical n8n Patterns:\n1. Use contentType: 'raw' for HTTP Request nodes with expressions (NOT 'json')\n2. Code nodes must return [{json: {...}}] format\n3. Gmail OAuth2 for emails (not SMTP on n8n Cloud)\n4. continueOnFail: true for error handling\n5. main[0] = success path, main[1] = error path\n6. Form data accessed at root: $json['fieldName']\n7. Always include position coordinates for nodes\n8. Connections use node names, not IDs\n9. Each node needs unique ID\n10. Gemini API uses query parameter for API key authentication\n11. Gemini response format: candidates[0].content.parts[0].text\n12. NEVER use string concatenation in JSON.stringify()\n13. Use Code nodes before HTTP requests to build request objects with template literals\n`;\n\nreturn [{\n  json: {\n    architectSpec: architectSpec,\n    lessonsLearned: lessonsLearned,\n    clientBrief: contextData.clientBrief,\n    clientEmail: contextData.clientEmail,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "85741ff1-2a46-4c20-8002-5b0120d68b1d",
      "name": "Prepare Synthesis Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4512,
        128
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "b4f24a5d-f2e3-4e29-bd56-3286407be706",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -4288,
        128
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get context from previous node\nconst contextData = items[0].json;\n\n// Build synthesis prompt\nconst systemPrompt = `You are Claude CC Agent, a specialized code reasoning AI for n8n workflows.\n\nResponsibilities:\n- Convert architect specifications to production-ready n8n workflow JSON\n- Apply critical patterns from lessons learned\n- Validate all JSON before output\n- Include node connections, error handling, and proper credentials\n\nOutput ONLY valid n8n workflow JSON that can be directly imported.\n\nCritical Requirements:\n- Use contentType: 'raw' for HTTP Request nodes\n- Code nodes return [{json: {...}}] format\n- Use Gmail OAuth2 for emails\n- Include continueOnFail: true on HTTP nodes\n- Proper node IDs and connections\n- Position coordinates for visual layout\n\nConvert this architect specification to production n8n workflow JSON:\n\nArchitect Spec:\n${JSON.stringify(contextData.architectSpec, null, 2)}\n\nApply these critical patterns:\n${contextData.lessonsLearned}\n\nOutput complete workflow JSON with name, nodes, connections, settings.`;\n\nconst geminiRequest = {\n  contents: [\n    {\n      parts: [\n        {\n          text: systemPrompt\n        }\n      ]\n    }\n  ]\n};\n\nreturn [{\n  json: {\n    geminiRequest: geminiRequest,\n    contextData: contextData\n  }\n}];"
      },
      "id": "ada1c089-3531-4dc5-bfd7-cecc80e61fcb",
      "name": "Build Synthesis Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4064,
        48
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash-exp:generateContent?key=AIzaSyDwHRrv4WHwHDDvK0KzdfpTfm1pnMBbNPk",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify($json.geminiRequest) }}",
        "options": {}
      },
      "id": "a3af3b8d-2eaa-4942-9926-68f7dc452260",
      "name": "Synthesis Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3840,
        48
      ]
    },
    {
      "parameters": {
        "jsCode": "// Extract the workflow JSON from Gemini's response\nconst geminiOutput = items[0].json;\nconst contextData = $('Build Synthesis Request').first().json.contextData;\n\n// Check for API errors\nif (geminiOutput.error) {\n  return [{\n    json: {\n      error: true,\n      message: \"Synthesis Agent failed: \" + (geminiOutput.error.message || 'Unknown error'),\n      stage: \"synthesis\",\n      clientEmail: contextData.clientEmail\n    }\n  }];\n}\n\nlet workflowJson;\ntry {\n  // Extract the text content from Gemini response\n  const responseText = geminiOutput.candidates?.[0]?.content?.parts?.[0]?.text;\n  \n  if (!responseText) {\n    throw new Error('No response from Gemini');\n  }\n  \n  // Clean up the response if it has markdown code blocks\n  let jsonText = responseText;\n  if (jsonText.includes('```json')) {\n    jsonText = jsonText.split('```json')[1].split('```')[0].trim();\n  } else if (jsonText.includes('```')) {\n    jsonText = jsonText.split('```')[1].split('```')[0].trim();\n  }\n  \n  // Parse the JSON\n  workflowJson = JSON.parse(jsonText);\n  \n} catch (error) {\n  return [{\n    json: {\n      error: true,\n      message: \"Failed to parse workflow JSON: \" + error.message,\n      stage: \"json-parse\",\n      clientEmail: contextData.clientEmail\n    }\n  }];\n}\n\n// Return the workflow JSON and metadata\nreturn [{\n  json: {\n    workflowJson: workflowJson,\n    clientEmail: contextData.clientEmail,\n    clientBrief: contextData.clientBrief,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "895645c7-c267-49e0-9903-fd890cd27b53",
      "name": "Format Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3616,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.error }}",
              "value2": true
            }
          ]
        },
        "options": {}
      },
      "id": "e9230017-adfa-4988-98dc-37751c79b417",
      "name": "Check Final Output for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -3392,
        48
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Form Trigger').item.json['Your Email'] }}",
        "subject": "Your n8n Workflow is Ready",
        "message": "={{ JSON.stringify($('Format Final Output').item.json.workflowJson, null, 2) }}",
        "options": {}
      },
      "id": "9bbf2f35-a82f-4710-ab22-c55961c380b1",
      "name": "Send Workflow Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -3168,
        0
      ],
      "webhookId": "06ba2461-2845-41ea-a56f-27fc7363f437",
      "credentials": {
        "gmailOAuth2": {
          "id": "TXcXtzelhuxTy2Rt",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Consolidate error information\nconst errorData = items[0].json;\n\nreturn [{\n  json: {\n    errorMessage: errorData.message || \"Unknown error occurred\",\n    errorStage: errorData.stage || \"unknown\",\n    clientEmail: errorData.clientEmail || \"no-email@provided.com\",\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "fadc5499-3d70-4b2d-8cf1-4dc560183ca4",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3168,
        224
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage"
      },
      "id": "dd4cc689-a684-4d81-9691-5c0a6a628f5f",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -2944,
        224
      ],
      "webhookId": "53729fdb-d9b7-4a0f-b1f7-b34d3aebee94",
      "credentials": {
        "gmailOAuth2": {
          "id": "TXcXtzelhuxTy2Rt",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Build Brief Parser Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Brief Parser Request": {
      "main": [
        [
          {
            "node": "Brief Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brief Parser": {
      "main": [
        [
          {
            "node": "Build Architect Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Architect Request": {
      "main": [
        [
          {
            "node": "Architect Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Architect Agent": {
      "main": [
        [
          {
            "node": "Prepare Synthesis Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Synthesis Context": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Build Synthesis Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Synthesis Request": {
      "main": [
        [
          {
            "node": "Synthesis Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthesis Agent": {
      "main": [
        [
          {
            "node": "Format Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Output": {
      "main": [
        [
          {
            "node": "Check Final Output for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Final Output for Errors": {
      "main": [
        [
          {
            "node": "Send Workflow Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "894bfcbb-3bfd-4e89-8e78-a62ee0e1f7c1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f1f6a63445bf02a6733927dea39b34ec61357398cab73cf126d2ecc1a2db7dc0"
  },
  "id": "cClyFCeD85CPu4th",
  "tags": [
    {
      "name": "AI",
      "id": "0NkIzdnakIOKdaa6",
      "updatedAt": "2025-11-04T19:56:35.499Z",
      "createdAt": "2025-11-04T19:56:35.499Z"
    },
    {
      "name": "Meta",
      "id": "H4aXsAt0TGeypwta",
      "updatedAt": "2025-11-04T19:56:35.475Z",
      "createdAt": "2025-11-04T19:56:35.475Z"
    },
    {
      "name": "Gemini",
      "id": "VX38p94E6d5BV6S3",
      "updatedAt": "2025-11-04T20:18:44.231Z",
      "createdAt": "2025-11-04T20:18:44.231Z"
    }
  ]
}
