n8n-workflows/workflow-builder-meta-system.json
{
  "name": "n8n Workflow Builder Meta-System",
  "nodes": [
    {
      "parameters": {
        "path": "workflow-builder",
        "formTitle": "n8n Workflow Builder",
        "formDescription": "Describe your workflow needs and receive a production-ready n8n workflow JSON",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Client Brief",
              "fieldType": "textarea",
              "requiredField": true,
              "placeholder": "Describe what you want your workflow to do..."
            },
            {
              "fieldLabel": "Your Email",
              "fieldType": "email",
              "requiredField": true,
              "placeholder": "your@email.com"
            }
          ]
        },
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a requirements analyst. Extract and structure the key requirements from the client brief. Output a clear list of:\\n1. Primary goal\\n2. Data sources needed\\n3. Processing steps\\n4. Output destinations\\n5. Error handling needs\\n6. Any specific constraints or requirements\\n\\nBe concise and technical.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": $json['Client Brief']\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 1000\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "brief-parser",
      "name": "Brief Parser",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api",
          "name": "OpenAI API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert n8n workflow architect with 10+ years of automation experience.\\n\\nGiven a project brief, you:\\n1. Break down requirements into discrete tasks\\n2. Design node-by-node workflow structure\\n3. Define data transformations at each stage\\n4. Identify error handling paths\\n5. Output production-ready roadmap\\n\\nYour Output Format (ALWAYS JSON):\\n{\\n  \\\"project_summary\\\": \\\"what the brief is asking for\\\",\\n  \\\"nodes_required\\\": [\\n    {\\n      \\\"name\\\": \\\"NodeName\\\",\\n      \\\"type\\\": \\\"n8n-nodes-base.webhook\\\",\\n      \\\"typeVersion\\\": 2,\\n      \\\"position\\\": [250, 300],\\n      \\\"parameters\\\": {}\\n    }\\n  ],\\n  \\\"connection_paths\\\": [],\\n  \\\"data_schema\\\": {}\\n}\\n\\nConstraints:\\n- Keep to 3-7 nodes for MVP\\n- Focus on data flow\\n- Assume n8n Cloud deployment\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Original brief: \" + $json['Client Brief'] + \"\\n\\nParsed requirements:\\n\" + JSON.stringify($json.choices[0].message.content)\n    }\n  ],\n  \"temperature\": 0.3,\n  \"max_tokens\": 2000,\n  \"response_format\": { \"type\": \"json_object\" }\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "architect-agent",
      "name": "Architect Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api",
          "name": "OpenAI API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Prepare context for synthesis agent\nconst architectOutput = items[0].json;\nconst formData = $('Form Trigger').first().json;\n\n// Check for errors from previous nodes\nif (architectOutput.error) {\n  return [{\n    json: {\n      error: true,\n      message: \"Architect Agent failed: \" + (architectOutput.error.message || 'Unknown error'),\n      stage: \"architect\",\n      clientEmail: formData['Your Email']\n    }\n  }];\n}\n\nlet architectSpec;\ntry {\n  // Parse the architect's response\n  const response = architectOutput.choices?.[0]?.message?.content;\n  architectSpec = typeof response === 'string' ? JSON.parse(response) : response;\n} catch (e) {\n  return [{\n    json: {\n      error: true,\n      message: \"Failed to parse architect output: \" + e.message,\n      stage: \"architect-parse\",\n      clientEmail: formData['Your Email']\n    }\n  }];\n}\n\n// Key lessons from production workflows\nconst lessonsLearned = `\nCritical n8n Patterns:\n1. Use contentType: 'raw' for HTTP Request nodes with expressions (NOT 'json')\n2. Code nodes must return [{json: {...}}] format\n3. Gmail OAuth2 for emails (not SMTP on n8n Cloud)\n4. continueOnFail: true for error handling\n5. main[0] = success path, main[1] = error path\n6. Use predefinedCredentialType for API auth\n7. Form data accessed at root: $json['fieldName']\n8. Always include position coordinates for nodes\n9. Connections use node names, not IDs\n10. Each node needs unique ID\n`;\n\n// Prepare synthesis context\nreturn [{\n  json: {\n    architectSpec: architectSpec,\n    lessonsLearned: lessonsLearned,\n    clientBrief: formData['Client Brief'],\n    clientEmail: formData['Your Email'],\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "prepare-context",
      "name": "Prepare Synthesis Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ JSON.stringify({\n  \"model\": \"gpt-4\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are Claude CC Agent, a specialized code reasoning AI for n8n workflows.\\n\\nResponsibilities:\\n- Convert architect specifications to production-ready n8n workflow JSON\\n- Apply critical patterns from lessons learned\\n- Validate all JSON before output\\n- Include node connections, error handling, and proper credentials\\n\\nOutput ONLY valid n8n workflow JSON that can be directly imported.\\n\\nCritical Requirements:\\n- Use contentType: 'raw' for HTTP Request nodes\\n- Code nodes return [{json: {...}}] format\\n- Use Gmail OAuth2 for emails\\n- Include continueOnFail: true on HTTP nodes\\n- Proper node IDs and connections\\n- Position coordinates for visual layout\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Convert this architect specification to production n8n workflow JSON:\\n\\nArchitect Spec:\\n\" + JSON.stringify($json.architectSpec, null, 2) + \"\\n\\nApply these critical patterns:\\n\" + $json.lessonsLearned + \"\\n\\nOutput complete workflow JSON with name, nodes, connections, settings.\"\n    }\n  ],\n  \"temperature\": 0.2,\n  \"max_tokens\": 4000,\n  \"response_format\": { \"type\": \"json_object\" }\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "synthesis-agent",
      "name": "Synthesis Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-api",
          "name": "OpenAI API"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Format the final workflow for email delivery\nconst synthesisOutput = items[0].json;\nconst contextData = $('Prepare Synthesis Context').first().json;\n\n// Check for synthesis errors\nif (synthesisOutput.error) {\n  return [{\n    json: {\n      error: true,\n      message: \"Synthesis failed: \" + (synthesisOutput.error.message || 'Unknown error'),\n      stage: \"synthesis\",\n      clientEmail: contextData.clientEmail\n    }\n  }];\n}\n\nlet workflowJson;\ntry {\n  // Extract the workflow JSON from synthesis response\n  const response = synthesisOutput.choices?.[0]?.message?.content;\n  workflowJson = typeof response === 'string' ? JSON.parse(response) : response;\n  \n  // Ensure it has proper structure\n  if (!workflowJson.nodes || !workflowJson.connections) {\n    throw new Error('Invalid workflow structure');\n  }\n} catch (e) {\n  return [{\n    json: {\n      error: true,\n      message: \"Failed to parse synthesis output: \" + e.message,\n      stage: \"synthesis-parse\",\n      clientEmail: contextData.clientEmail\n    }\n  }];\n}\n\n// Create formatted email content\nconst emailHtml = `\n<h2 style=\"color: #2563eb;\">Your n8n Workflow is Ready!</h2>\n<p>Based on your brief, I've created a production-ready n8n workflow.</p>\n\n<div style=\"background-color: #f3f4f6; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n  <h3 style=\"margin-top: 0;\">Original Brief:</h3>\n  <p style=\"font-style: italic;\">\"${contextData.clientBrief}\"</p>\n</div>\n\n<div style=\"background-color: #e0f2fe; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n  <h3 style=\"margin-top: 0;\">Workflow Summary:</h3>\n  <p><strong>Name:</strong> ${workflowJson.name || 'Custom Workflow'}</p>\n  <p><strong>Nodes:</strong> ${workflowJson.nodes?.length || 0} operations</p>\n  <p><strong>Generated:</strong> ${contextData.timestamp}</p>\n</div>\n\n<div style=\"background-color: #fef3c7; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n  <h3 style=\"margin-top: 0;\">How to Import:</h3>\n  <ol>\n    <li>Copy the JSON attachment below</li>\n    <li>Open your n8n instance</li>\n    <li>Go to Workflows → Import from File/URL</li>\n    <li>Paste the JSON and click Import</li>\n    <li>Configure any required credentials</li>\n    <li>Activate and test your workflow</li>\n  </ol>\n</div>\n\n<hr style=\"margin: 30px 0;\">\n\n<h3>Workflow JSON:</h3>\n<pre style=\"background-color: #1e293b; color: #e2e8f0; padding: 20px; border-radius: 8px; overflow-x: auto; font-family: 'Courier New', monospace; font-size: 12px;\">\n${JSON.stringify(workflowJson, null, 2)}\n</pre>\n\n<div style=\"margin-top: 30px; padding: 15px; background-color: #f0fdf4; border-left: 4px solid #22c55e;\">\n  <p style=\"margin: 0;\"><strong>✓ Workflow Generated Successfully</strong></p>\n  <p style=\"margin: 5px 0 0 0; color: #666;\">This workflow follows n8n best practices and production patterns.</p>\n</div>\n`;\n\nreturn [{\n  json: {\n    success: true,\n    clientEmail: contextData.clientEmail,\n    subject: '✓ Your n8n Workflow is Ready',\n    emailHtml: emailHtml,\n    workflowJson: workflowJson,\n    timestamp: contextData.timestamp\n  }\n}];"
      },
      "id": "format-output",
      "name": "Format Final Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.clientEmail }}",
        "subject": "={{ $json.subject }}",
        "messageType": "html",
        "message": "={{ $json.emailHtml }}",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {
                "property": "attachment_0"
              }
            ]
          }
        }
      },
      "id": "send-workflow",
      "name": "Send Workflow Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1750, 200],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "// Comprehensive error handler for any stage failures\nconst errorData = items[0].json;\nconst formData = $('Form Trigger').first().json;\n\n// Determine error details\nconst stage = errorData.stage || 'unknown';\nconst message = errorData.message || errorData.error?.message || 'An unexpected error occurred';\nconst statusCode = errorData.statusCode || 'N/A';\n\nconst stageDescriptions = {\n  'architect': 'Workflow Architecture Design',\n  'architect-parse': 'Architecture Specification Parsing',\n  'synthesis': 'Workflow JSON Synthesis',\n  'synthesis-parse': 'Workflow JSON Parsing',\n  'brief-parser': 'Requirements Analysis',\n  'unknown': 'Workflow Generation'\n};\n\nconst errorHtml = `\n<h2 style=\"color: #dc2626;\">⚠ Workflow Generation Failed</h2>\n<p>Unfortunately, we couldn't generate your workflow. Here are the details:</p>\n\n<div style=\"background-color: #fee2e2; padding: 15px; border-left: 4px solid #dc2626; margin: 20px 0;\">\n  <p><strong>Failed Stage:</strong> ${stageDescriptions[stage] || stage}</p>\n  <p><strong>Error Message:</strong> ${message}</p>\n  ${statusCode !== 'N/A' ? `<p><strong>Status Code:</strong> ${statusCode}</p>` : ''}\n</div>\n\n<div style=\"background-color: #f3f4f6; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n  <h3 style=\"margin-top: 0;\">Original Request:</h3>\n  <p style=\"font-style: italic;\">\"${formData['Client Brief']}\"</p>\n</div>\n\n<div style=\"background-color: #fef3c7; padding: 15px; border-radius: 8px; margin: 20px 0;\">\n  <h3 style=\"margin-top: 0;\">What to Do Next:</h3>\n  <ul>\n    <li>Try simplifying your workflow description</li>\n    <li>Be more specific about the nodes and operations needed</li>\n    <li>Ensure your brief doesn't contain special characters that might cause parsing issues</li>\n    <li>If the problem persists, contact support with this error message</li>\n  </ul>\n</div>\n\n<p style=\"color: #666; font-size: 12px; margin-top: 30px;\">\n  <em>Error occurred at: ${new Date().toISOString()}</em>\n</p>\n`;\n\nreturn [{\n  json: {\n    error: true,\n    clientEmail: errorData.clientEmail || formData['Your Email'],\n    subject: '⚠ Workflow Generation Failed',\n    emailHtml: errorHtml,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "error-handler",
      "name": "Error Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1500, 500]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{ $json.clientEmail }}",
        "subject": "={{ $json.subject }}",
        "messageType": "html",
        "message": "={{ $json.emailHtml }}",
        "options": {}
      },
      "id": "send-error",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1750, 500],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-oauth2",
          "name": "Gmail OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEqual"
              }
            }
          ],
          "combineOperation": "all"
        },
        "options": {}
      },
      "id": "check-errors",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 500]
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [
        [
          {
            "node": "Brief Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Brief Parser": {
      "main": [
        [
          {
            "node": "Architect Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Architect Agent": {
      "main": [
        [
          {
            "node": "Prepare Synthesis Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Synthesis Context": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Synthesis Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Synthesis Agent": {
      "main": [
        [
          {
            "node": "Format Final Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Final Output": {
      "main": [
        [
          {
            "node": "Send Workflow Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Handler": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "workflow-builder-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "workflow-builder"
  },
  "id": "workflow-builder",
  "tags": [
    {
      "name": "Meta",
      "createdAt": "2025-11-04T00:00:00.000Z"
    },
    {
      "name": "AI",
      "createdAt": "2025-11-04T00:00:00.000Z"
    },
    {
      "name": "Builder",
      "createdAt": "2025-11-04T00:00:00.000Z"
    }
  ]
}
